@tailwind base;
@tailwind components;

@font-face {
  font-family: 'San Francisco Pro Display Regular';
  src: url('./styles/fonts/SFProDisplay-Regular.eot')
      format('embedded-opentype'),
    url('./styles/fonts/SFProDisplay-Regular.woff') format('woff'),
    url('./styles/fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@tailwind utilities;

body {
  scroll-behavior: smooth;
}
.start-screen {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.slick-active .slide {
  transform: scaleY(1) !important;
}
